body {
    /* background color for all pages */
    background-color: rgb(186, 208, 228);
}

nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}


main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

.post-el {
    height: 5em;
    width: 15em;
    background-color: white;
}

.non-style {
    list-style-type: none;
}