@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body {
    /* background color for all pages */
    background-color: black;
    color: white; /*
    background-image: url("bg-image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;*/
}

nav {
    background-color: rgba(0, 0, 0, 0.8);
}

nav .navbar-brand {
    /* size for brand */
    font-size: xx-large;
    color: white !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

main .form-control {
    /* center form controls */
    display: inline-block;
    /* override Bootstrap's 100% width for form controls */
    width: 70%;
}

main {
    /* center contents */
    text-align: center;
}

.non-style {
    list-style-type: none;
}

.register-btn {
    border-radius: 1em;
}

.login-btn {
    border-radius: 1em;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.9);
    display: inline-block;
    width: 35%;
    height: auto;
    border-radius: .7em;
    padding-bottom: .5em;
}

.form-inputs {
    border: 0;
    border-radius: 4px;
    background-color: #333;
    color: white;
    height: 45px;
    max-width: 260px;
    width: 100%;
    line-height: 45px;
    padding-left: 1em;
}

.form-inputs:focus {
    background-color: #454545;
    padding-left: .9em;
} 
.form-inputs::placeholder {
    color: #8c8c8c;
}

.form-inputs:focus::placeholder {
    font-size: 12px;
    transform: translateY(-70%);
} 

.form-inputs::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #8c8c8c;
}
.form-inputs::-moz-placeholder { /* Firefox 19+ */
    color: #8c8c8c;
}
.form-inputs::-ms-input-placeholder { /* IE 10+ */
    color: #8c8c8c;
}
.form-inputs::-moz-placeholder { /* Firefox 18- */
    color: #8c8c8c;
}

.form-inputs:focus::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 12px;
    transform: translateY(-70%);
} 

.form-inputs:focus::-moz-placeholder { /* Firefox 19+ */
    font-size: 12px;
    transform: translateY(70%);
}
.form-inputs:focus:-ms-input-placeholder { /* IE 10+ */
    font-size: 12px;
    transform: translateY(-70%);
}
.form-inputs:focus:-moz-placeholder { /* Firefox 18- */
    font-size: 12px;
    transform: translateY(-70%);
}

.login-register-form {
    color: white;
    margin: 1.5em 2em 1.5em 2em;
}

.form-title {
    color: white;
    text-align: left;
    padding-left: .6em;
    margin-bottom: .7em;
}

button[name="register-sbmt"] , button[name="login-sbmt"] {
    width: 100%;
    max-width: 260px;
}

.intro-title {
    font-family: 'Viga', cursive;
    color: white;
    font-size: 5em;
    text-shadow: 1.5px .5px #657477;
}

main[name="home-main"] {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 15rem !important;
}

/* Code for post item */

main[name="all-posts"] 
{
    color: black;
}

.post-container {
    background: white;
    color: black;
    width: 70%;
    height: auto;
    border-radius: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    padding-left: 20px;
    padding-top: .4em;
    padding-right: 20px;
    margin: auto;
}

.post-publisher {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

.post-content {
    color: black;
    padding-bottom: .7em;
}

p {
    font-family: 'Lato', sans-serif;
}

.post-title {
    margin-top: .4em;
    margin-bottom: .6em;
}

#post-link:link {
    color: black;
}

#post-link:visited {
    color: black;
}

#post-link:active {
    color: black;
}

/* */
.newpost-title {
    color: white;
    text-align: left;
    padding-left: 5em;
    margin-bottom: .7em;
}

/* */
.chng-pass-title {
    margin-bottom: 1em;
}

/* User */
.user-item {
    background-color: rgb(226, 226, 226);
    color: black;
    width: 25%;
    min-width: 25%;
    margin: auto;
    border-radius: 25px;
}

#user-fname {
    padding-top: .4em;
}

#user_username {
    padding-bottom: .4em;
    color:rgb(110, 110, 110);
}

#comment {
    width: 100%;
}

button[name="cmnt-btn"] {
    font-family: sans-serif;
    margin-bottom: .7em;
}

form[name="cmnt-form"] {
    text-align: right;
}