{% extends "layout.html" %}

{% block title %}
	About Adiuvame
{% endblock %}

{% block main %}
<main class="container p-5">
    <h1>About Adiuvame</h1>
    <p>
        Welcome to Adiuvame about page, Adiuvame is a latin word that means "Help me".
    </p>
    <p>
        This website is my CS50 Final Project, <a href="https://online-learning.harvard.edu/course/cs50-introduction-computer-science/" target="_blank">CS50</a> is a Computer Science Introductory course taught by Harvard through edX.
    </p>
    <p>
        Hi I'm <a href="https://www.linkedin.com/in/lahmar-alaa/" target="_blank">Alaa Lahmar</a>, I'm a computer science student and a self learning software developer from Tunisia.
    </p>
    <p>
        As a disabled I need to buy new mediacal equipments frequently and also there are a lot of people who want to donate those equipments but the problem is that we can't find each other easly, so I decided to create a platform that solve this problem, the idea is simple , anyone who have a wheelchair, bed or any medical equipment that he want to donate , he just need to head over to adiuvame create an account and create new post and describe what the product is all about and the person who want to benefit from this product he just can comment or contact him via email, and vice versa, if any one want some sort of used medical equipment he just create a new post and those who can help they just need to comment or email the post writer.
    </p>

    <p>
        You can check out the project code on my <a href="https://github.com/mrlahmar" target="_blank">Github</a>
    </p>
</main>
{% endblock %}