{% extends "layout.html" %}

{% block title %}
	Home
{% endblock %}

{% block main %}
<main class="container p-5" name="all-posts">
    <div class="post-container">
        <span class="post-publisher">Posted by <a href="#">mrlahmar</a> 10 hours ago</span>
        <a id="post-link" href="#"><h5 class="post-title">This guy need to buy a new wheelchair</h5>
        <p class="post-content">
            Hello, I'm Ala Lahmar from Tunisia and I have a friend that need to buy and electric wheelchair
            and this guy to buy an electric wheelchair because he goes to school everyday
        </p></a>
    </div>
</main>
{% endblock %}