{% extends "layout.html" %}

{% block title %}
    My Post
{% endblock %}

{% block main %}
<main class="container p-5">
    <div class="post-container">
        <span class="post-publisher">Posted by <a href="#">mrlahmar</a> 10 hours ago</span>
        <h5 class="post-title">{{ thepost.post_title }}</h5>
        <p class="post-content">
            {{ thepost.post_content }}
        </p>
        <hr>
        <span class="post-publisher">Comment by <a href="#">wael</a> 2 hours ago</span>
        <p class="post-content">and this guy to buy an electric wheelchair because he goes to school everyday Hello, I'm
            Ala Lahmar</p>
        <h5>Comment</h5>
        <form action="/posts" method="POST" name="cmnt-form">
            <div class="form-group">
                <textarea class="form-control" id="comment" rows="3"></textarea>
            </div>
            <button class="btn btn-info" type="submit" name="cmnt-btn">Comment</button>
        </form>
    </div>
</main>
{% endblock %}