{% extends "layout.html" %}

{% block title %}
    My Post
{% endblock %}

{% block main %}
<form action="/posts" method="POST">
    <h5>{{ thepost.post_title }}</h5>
    <p>{{ thepost.post_content }}</p>
    <div class="form-group">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" id="comment" rows="3"></textarea>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Comment</button>
</form>
{% endblock %}