{% extends "layout.html" %}

{% block title %}
	Register
{% endblock %}

{% block main %}
    <form action="/register" method="POST">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="fullname" placeholder="Full Name" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="email" placeholder="Email" type="email">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmpassword" placeholder="Confirm Password" type="password">
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-control" name="phone" placeholder="Phone" type="tel">
        </div>
        <div class="form-group">
            <select id="inputState" class="form-control" name="account_type">
              <option selected disabled>Account Type</option>
              <option value="D">Disabled</option>
              <option value="H">Helper</option>
            </select>
        </div>
        <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
              <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
              <label class="custom-control-label" for="customControlAutosizing">Remember my preference</label>
            </div>
        </div>
        <button class="btn btn-primary mt-2" type="submit">Register</button>
    </form>
{% endblock %}