{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block main %}
<main class="container p-5">
<div class="form-container">
    <form class="login-register-form" action="/register" method="POST">
        <h2 class="activity-titles">Register</h2>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-inputs" name="fullname" placeholder="Full Name" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-inputs" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-inputs" name="email" placeholder="Email" type="email" required>
        </div>
        <div class="form-group">
            <input class="form-inputs" name="password" placeholder="Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-inputs" name="confirmpassword" placeholder="Confirm Password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" class="form-inputs" name="phone" placeholder="Phone , e.g., +21620304050" type="tel" pattern="^\+[1-9]{1}[0-9]{3,14}$" required>
        </div>
        <div class="col-auto my-1">
            <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing" required>
                <label class="custom-control-label" for="customControlAutosizing">By clicking register, you agree to our <a href="/terms">Terms of Service</a></label>
            </div>
        </div>
        <button class="btn btn-info mt-2" type="submit" name="register-sbmt">Register</button>
    </form>
</div>
</main>
<script>
</script>
{% endblock %}